.logo{
    display: block;
    margin: auto;
    width: 65px;
    height: 60px;
    border-radius: 20px;
}
   
.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
    margin-bottom: 10px;

} 
.message{
    background: linear-gradient(354deg, #7354d3, #c521b1d1);
    margin: 12px 8px;
    width: 30%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 30px;   
    
}
.left{
float: left;
clear: both;  
}
.right{
float: right;
clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageinp{
    width: 90%;
    border: 2px solid black;
    border-radius: 30px;
    height: 34px;
   
    background-image: linear-gradient(rgb(212, 109, 173),rgb(49 61 217));
}

.btn {
    cursor: pointer;

    border-radius: 10px;
    height: 36px;
    background-image: linear-gradient(rgb(175, 97, 147),rgb(25 38 199)) ;}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(189 114 162),rgb(25 38 199));}